@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .underline-wavy {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 0.25rem;
  }
}
